* {
    font-family: 'Roboto', sans-serif;
}
.cover{
    background-image: url("../img/cover.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}
#Trabajos .img-trabajo {
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logofooter{
    width: 3em;
    height: auto;
}
